@font-face {
  font-family: 'DancingScript';
  src: url(fonts/DancingScript-Regular.ttf);
}

/******************/
/* mobile version */
/******************/
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.assos-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 7px;
}

.assos-name {
  font-family: 'DancingScript';
  font-size: medium;
}

.assos-logo {
  width: 64px;
  height: auto;
}

.open-nav, .empty {
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: 20%;
  height: auto;
  font-size: larger;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  height: 3.5em;
}

nav {
  background-color: #ff633b;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

nav a:hover {
  background-color: #ffb4a1;
}

section {
  text-align: center;
}

.background, .welcome {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 0.5px 10px black;
          box-shadow: 0px 0.5px 10px black;
}

.welcome {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  color: white;
  -webkit-filter: none;
          filter: none;
  padding: 20px;
  z-index: 3;
}

.donate {
  color: white;
  background-color: #ff633b;
  padding: 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

form {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  row-gap: 20px;
}

form div {
  display: -ms-grid;
  display: grid;
  padding: 5px 0;
}

article {
  padding: 20px;
}

article p {
  text-align: justify;
}

article h2 {
  color: #ff633b;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: darkgrey;
  color: white;
}

/*******************/
/* desktop version */
/*******************/
@media (min-width: 768px) {
  .open-nav, .empty {
    display: none;
  }
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (150px)[3];
        grid-template-columns: repeat(3, 150px);
    gap: 10px;
    text-align: left;
    height: 3em;
  }
  nav a {
    text-align: center;
  }
  .welcome {
    width: 100vw;
    height: auto;
  }
  .introduce {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  form {
    width: 50%;
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
}
/*# sourceMappingURL=styles.css.map */