@font-face {
    font-family: 'DancingScript';
    src: url(fonts/DancingScript-Regular.ttf);
}


$primary-color: #ff633b;

/******************/
/* mobile version */
/******************/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.assos-title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 7px;
}

.assos-name {
    font-family: 'DancingScript';
    font-size: medium;
}

.assos-logo {
    width: 64px;
    height: auto;
}

.open-nav {
    text-decoration: none;
    border: none;
    background-color: transparent;
    width: 20%;
    height: auto;
    font-size: larger;
}

.empty {
    @extend .open-nav
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 3.5em;
}

nav {
    background-color: $primary-color;
    a {
        color: white;
        text-decoration: none;
        padding: 10px 0;

        &:hover {
            background-color: lighten($color: $primary-color, $amount: 20%);
        }
    }
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
}

section {
    text-align: center;
}

.welcome {
    color: white;
    padding: 20px;
    box-shadow: 0px 0.5px 10px black;
    background-image: url(images/chat-et-chien.jpg);
}

.donate {
    color: white;
    background-color: $primary-color;
    padding: 20px;
    border: none;
    border-radius: 100px;
    
}

form {
    display: grid;
    padding: 20px;
    row-gap: 20px;
    div {
        display: grid;
        padding: 5px 0
    }
}

article {

    padding: 20px;
    p {text-align: justify;}
    h2 {color: $primary-color;}
    
}

footer {
    padding: 20px;
    text-align: center;
    background-color: darkgrey;
    color: white;
}




/*******************/
/* desktop version */
/*******************/

@media (min-width: 768px){ 
    .open-nav {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        gap: 10px;
        text-align: left;
        height: 3em;

        a {
            text-align: center;
            
        }
    }

    .welcome {
        width: 100vw;
        height: auto;
    }

    .introduce {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    form {
        width: 50%;
        transform: translateX(45%);
    }
}
